form
{
border:solid 1px;
border-radius: 8px;
background-color: rgba(120,150,150,.9);
box-shadow: 2px 2px 3px 3px grey;
width: 25%;
margin: 0 auto;
}
form > div
{
border:none;
}
#greeting
{
    visibility: hidden;
}